<%# locals: (budget_category:) %>

<%= turbo_frame_tag dom_id(budget_category), class: "w-full" do %>
  <% if budget_category.budget.is_a?(YearlyBudget) %>
    <div class="group w-full p-4 flex items-center gap-3 bg-container">
      <%= render "budget_categories/budget_category_content", budget_category: budget_category %>
    </div>
  <% else %>
    <%= link_to budget_budget_category_path(budget_category.budget, budget_category), class: "group w-full p-4 flex items-center gap-3 bg-container", data: { turbo_frame: "drawer" } do %>
      <%= render "budget_categories/budget_category_content", budget_category: budget_category %>
    <% end %>
  <% end %>
<% end %>
